.container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    border: 1px solid black;
    display: flex;
    border: 1px solid rgb(19, 19, 63);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
    background: url("https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg");
    color: #ffffff;
}

.flex-blackjack-row-1 div{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    height: 350px;
    flex: 1;
}

table, td, th{
    padding: 5px;
    border: 1px solid black;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}